*{
    color: aqua;
}


h1{
    color: rgb(182, 229, 10);
}
/* .rohan{
    color: blueviolet;
} */

/* #ro{
    color: blue;
} */



/* global=> *
tag
id=> #
class=> . */


/* powerfull */

/* id 
class 
tag  */
/* global */